<html>
<head>
 <title>Staige Music - Go Live!</title>

<!--Favicon  -->
<link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
 <link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32">
 <link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16">
 <link rel="manifest" href="/img/manifest.json">
 <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5">
<meta name="theme-color" content="#ffffff">
<!-- End -->

<meta name="google-site-verification" content="4PaAjiP3nUPM7aEZ3KHEY0DZnRVOcC1AhbwS-KdMkMY">
  <meta name="description" content="Staige Music is a portal where you can Book rehearsals rooms & recording studios with your band seamlessly, access rich content to make your live sound better and Buy/Sell Pre-owned Music Equipment.">
    <meta name="keywords" content="Staige,
     Music Services,
     Rehearsal rooms,
     Jam pads,
     Recording studios,
     Music shop,
     Live sound,
     Music blog,
     Delhi NCR, Buy and Sell Musical Equipment,
     Buy Customised guitars,
     Pre-owned Musical equipment,
     Buy/Sell Music Equipment,
     Music Community">

    <meta name="author" content="Staige">
    <meta property="og:url" content="http://www.staige.net">
    <meta property="og:title" content="Staige Music Services">
    <meta property="og:description" content="Book Rehearsal studios & Recording studios, Buy and Sell Musical Equipment and Access content posted by the industry veterans">
<meta property="og:site_name" content="Staige - Go Live">

 <script>
   (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
   (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
   })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

   ga('create', 'UA-85413517-3', 'auto');
   ga('send', 'pageview');

  </script>
</head>

<div id="gif">
  <img src="/img/Logo.gif" width="181" height="201.5">
</div>


<link rel="icon" type="image/png" href='/img/logo.png' / >
<link rel="stylesheet" href="/css/FW.css" />

</head>
 <body bgcolor="black">



<div id="waves">

<svg width="1440px" height="203px" viewBox="0 597 1440 203" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
       <defs>
        <rect id="path-1" x="0" y="0" width="1440" height="203"></rect>
        <linearGradient x1="50%" y1="0%" x2="50%" y2="96.3249362%" id="linearGradient-3">
            <stop stop-color="#51F3CA" offset="0%"></stop>
            <stop stop-color="#35A712" offset="100%"></stop>
        </linearGradient>
        <linearGradient x1="47.1208752%" y1="-10.7856713%" x2="45.3644815%" y2="107.785777%" id="linearGradient-4">
            <stop stop-color="#67EEDB" offset="0%"></stop>
            <stop stop-color="#36A3D8" offset="100%"></stop>
        </linearGradient>
        <linearGradient x1="50%" y1="0%" x2="50%" y2="100%" id="linearGradient-5">
            <stop stop-color="#FFDB38" offset="0%"></stop>
            <stop stop-color="#EE741F" offset="100%"></stop>
        </linearGradient>
    </defs>
    <g id="Group-6" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(0.000000, 597.000000)">
        <mask id="mask-2" fill="white">
            <use xlink:href="#path-1"></use>
        </mask>
        <use id="Mask" fill="#D8D8D8" opacity="0" xlink:href="#path-1"></use>
        <g opacity="0.618263134" mask="url(#mask-2)">
            <g transform="translate(-41.560401, 21.787248)" opacity="0.581465127">
                <path d="M3.41474931,184.630578 C190.881147,189.070115 275.284151,176.202028 427.75094,115.185928 C528.234305,74.9732156 601.556037,0.296028591 696.453613,0.296028591 C791.351188,0.296028591 862.127396,80.0024141 1003.1675,130.865862 C1142.52118,181.121132 1321.81437,182.327703 1483.8567,191.60328 L3.41474931,184.630578 Z" id="Path-10" fill="url(#linearGradient-3)"></path>
                <path d="M0,190.990316 C207.302597,157.29948 214.925531,69.7379242 319.197539,59.3591525 C423.469547,48.9803809 520.985177,120.806241 728.527976,149.801658 C1010.31002,189.168901 1250.73026,183.260334 1521.60695,193.922139 L0,190.990316 Z" id="Path-4" fill="url(#linearGradient-4)"></path>
                <path d="M371.584989,186.168549 C536.61266,183.889321 682.376305,175.676491 842.388497,153.284842 C910.148676,143.802677 988.684856,121.254161 1055.94185,121.254161 C1123.19884,121.254161 1185.51718,141.94613 1250.76829,159.301454 C1351.78096,186.168549 1434.51713,179.173107 1487.56029,183.724416 C1511.93195,185.815599 1501.52603,186.757744 1501.52603,186.757744" id="Path-11" fill="url(#linearGradient-5)"></path>
            </g>
        </g>
    </g>
</svg>

</div><!---waves-->


<section>
  <svg width="676px" height="230px" viewBox="382 308 676 230" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 39.1 (31720) - http://www.bohemiancoding.com/sketch -->
    <desc>Created with Sketch.</desc>
    <defs>
        <linearGradient x1="50%" y1="0%" x2="50%" y2="73.3317625%" id="linearGradient-1">
            <stop stop-color="#FFFFFF" offset="0%"></stop>
            <stop stop-color="#FFFFFF" stop-opacity="0.245216259" offset="100%"></stop>
        </linearGradient>
    </defs>
    <g id="Group" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(382.000000, 308.000000)">
        <path d="M45.4949433,32.0372224 C40.0553033,35.4874021 37.3355241,40.7036669 37.3355241,47.6861734 C37.3355241,54.6686798 40.0553033,60.0081635 45.4949433,63.7047846 C50.9345833,67.4014056 62.5142492,71.3854819 80.2342886,75.6571329 C97.9543279,79.9287839 111.305971,85.9254348 120.289619,93.6472655 C129.273267,101.369096 133.765023,112.746304 133.765023,127.779229 C133.765023,142.812155 128.078212,155.010822 116.70442,164.375595 C105.330627,173.740368 90.4130503,178.422685 71.9512418,178.422685 C44.9178795,178.422685 20.9343721,169.140198 0,150.574945 L18.2968794,128.64177 C35.7696623,143.756843 53.9015236,151.314266 72.6930072,151.314266 C82.088749,151.314266 89.5475374,149.301691 95.0695962,145.276482 C100.591655,141.251272 103.352643,135.911788 103.352643,129.25787 C103.352643,122.603952 100.75649,117.428761 95.5641064,113.73214 C90.3717228,110.035518 81.4294185,106.667536 68.7369252,103.628092 C56.0444319,100.588648 46.4015784,97.7956878 39.8080754,95.2491266 C33.2145724,92.7025654 27.3629262,89.3756564 22.2529614,85.2682996 C12.0330317,77.546469 6.92314354,65.717459 6.92314354,49.7809148 C6.92314354,33.8443707 12.7335809,21.5635582 24.35463,12.938109 C35.975679,4.31265989 50.3575417,0 67.5006496,0 C78.5447671,0 89.5063014,1.80720986 100.385581,5.42168379 C111.264861,9.03615773 120.660462,14.1292037 128.572666,20.7009745 L112.995593,42.6341498 C107.885628,38.0339103 100.962554,34.2551987 92.2261622,31.2979019 C83.4897707,28.340605 74.8771366,26.8619788 66.3880015,26.8619788 C57.8988664,26.8619788 50.9345833,28.5870427 45.4949433,32.0372224 L45.4949433,32.0372224 Z M531.598522,46.1390767 L531.598522,160.487317 C531.598522,183.652809 525.29358,201.026667 512.683505,212.609413 C500.07343,224.192159 483.878382,229.983445 464.097873,229.983445 C444.317364,229.983445 426.432755,223.822503 410.44351,211.500432 L423.548032,190.553018 C436.405363,200.24638 449.386127,205.092988 462.490714,205.092988 C475.595302,205.092988 485.979913,201.725006 493.64486,194.988941 C501.309808,188.252876 505.142224,177.491763 505.142224,162.705278 L505.142224,145.947347 C501.021284,153.669177 495.128429,159.83012 487.463482,164.430359 C479.798535,169.030599 471.185901,171.330684 461.625321,171.330684 C444.152538,171.330684 429.811884,165.251887 418.602929,153.094112 C407.393974,140.936336 401.789581,125.821489 401.789581,107.74912 C401.789581,89.6767501 407.393974,74.561904 418.602929,62.4041281 C429.811884,50.2463521 444.11133,44.1675553 461.501694,44.1675553 C478.892058,44.1675553 493.026668,51.3142489 503.905948,65.6078503 L503.905948,46.1390767 L531.598522,46.1390767 Z M439.276205,132.844944 C445.952127,140.648922 454.93564,144.550852 466.227014,144.550852 C477.518388,144.550852 486.666736,140.772141 493.672333,133.214604 C500.67793,125.657068 504.180676,116.251362 504.180676,104.997205 C504.180676,93.7430471 500.636721,84.2141224 493.548705,76.4101446 C486.46069,68.6061667 477.312342,64.7042364 466.103386,64.7042364 C454.894431,64.7042364 445.952127,68.7293856 439.276205,76.7798048 C432.600283,84.830224 429.262373,94.2359299 429.262373,104.997205 C429.262373,115.758479 432.600283,125.040966 439.276205,132.844944 L439.276205,132.844944 Z M675.913098,123.767731 L572.80771,123.767731 C573.46706,133.296799 577.83519,140.977441 585.912232,146.809887 C593.989273,152.642334 603.220039,155.558513 613.604806,155.558513 C630.088563,155.558513 642.616031,150.383321 651.187585,140.032782 L667.011913,157.283594 C652.835882,171.905784 634.37435,179.21677 611.626765,179.21677 C593.164956,179.21677 577.464413,173.0969 564.524663,160.856977 C551.584914,148.617054 545.115136,132.187873 545.115136,111.568942 C545.115136,90.9500116 551.70854,74.561904 564.895546,62.4041281 C578.082552,50.2463521 593.61826,44.1675553 611.503137,44.1675553 C629.388014,44.1675553 644.594052,49.548112 657.121708,60.3093866 C669.649364,71.0706613 675.913098,85.8979967 675.913098,104.791838 L675.913098,123.767731 Z M274.419966,178.236474 C274.513246,178.236835 274.606635,178.237015 274.700134,178.237015 C292.997104,178.237015 307.585011,171.747489 318.464291,158.768242 L318.464291,176.265494 L343.684314,176.265494 L343.684314,91.7365149 C343.684314,74.9784994 338.78047,62.6976869 328.972634,54.8937091 C319.164798,47.0897313 306.513704,43.1878009 291.018972,43.1878009 C270.74395,43.1878009 252.612089,49.5130354 236.622844,62.1636942 L248.9856,79.4145063 C262.172606,70.5426157 274.864909,66.106737 287.06289,66.106737 C306.513724,66.106737 316.238995,74.8142027 316.238995,92.2293952 L316.238995,97.1581987 L280.387001,97.1581987 C264.068081,97.1581987 251.128526,100.361889 241.567947,106.769365 C232.007367,113.176842 227.227149,122.828985 227.227149,135.726086 C227.227149,142.7597 228.563096,149.023649 231.235012,154.517983 C221.316918,154.517985 205.614911,154.517988 201.636556,154.517988 C195.702403,154.517988 191.087021,152.669705 187.790269,148.973084 C184.493518,145.276463 182.845167,140.306636 182.845167,134.063454 L182.845167,67.5246072 L217.460884,67.5246072 L217.460884,45.3449917 L182.845167,45.3449917 L182.845167,4.18948293 L155.152592,4.18948293 L155.152592,45.3449917 L138.586499,45.3449917 L138.586499,67.5246072 L155.152592,67.5246072 L155.152592,133.324133 C155.152592,147.124852 159.314679,158.09133 167.638976,166.223896 C175.963274,174.356463 186.018215,178.422685 197.804102,178.422685 C209.589988,178.422685 274.693417,178.422682 274.693417,178.422682 L274.419966,178.236474 Z M572.587928,102.3822 L648.000741,102.3822 C648.000741,91.3744844 644.539204,82.9134565 637.616026,76.9988627 C630.692848,71.084269 622.162631,68.1270165 612.02512,68.1270165 C601.887609,68.1270165 592.78047,71.2074879 584.703429,77.368523 C576.626388,83.5295581 572.587928,91.8673672 572.587928,102.3822 Z M387.682906,175.324962 L359.990332,175.324962 L359.990332,44.2187907 L387.682906,44.2187907 L387.682906,175.324962 Z M359.990332,8.35655078 C359.990332,7.80210651 360.44761,7.35264062 360.991686,7.35264062 L386.664995,7.35264062 C387.218028,7.35264062 387.666349,7.79971262 387.666349,8.35655078 L387.666349,34.0953836 C387.666349,34.6498278 387.209071,35.0992937 386.664995,35.0992937 L360.991686,35.0992937 C360.438653,35.0992937 359.990332,34.6522217 359.990332,34.0953836 L359.990332,8.35655078 Z M315.99174,127.47034 L315.99174,116.380532 L284.837594,116.380532 C264.892247,116.380532 254.919723,122.623621 254.919723,135.109985 C254.919723,141.517462 257.39225,146.405143 262.337377,149.773175 C267.282504,153.141208 274.16437,154.825199 282.98318,154.825199 C291.801991,154.825199 299.508032,152.360822 306.101535,147.431994 C312.695038,142.503166 315.99174,135.849348 315.99174,127.47034 Z" id="Combined-Shape" fill="url(#linearGradient-1)" opacity="0.788496377"></path>
        <path d="M454.054942,23.1462269 C455.280821,23.1462269 456.335865,22.9402802 457.220106,22.5283805 C458.104347,22.1164808 459.028766,21.4584558 459.993393,20.5542857 L462.284368,22.9051161 C460.05367,25.3765142 457.345724,26.6121948 454.160448,26.6121948 C450.975171,26.6121948 448.332537,25.5874841 446.232466,23.538032 C444.132394,21.4885799 443.082374,18.8966646 443.082374,15.7622084 C443.082374,12.6277522 444.15249,10.0157446 446.292754,7.92610717 C448.433019,5.83646972 451.135941,4.79166667 454.401603,4.79166667 C457.667265,4.79166667 460.395307,5.99720865 462.585813,8.40832878 L460.324981,10.8797146 C459.320162,9.91526651 458.370622,9.24217224 457.476334,8.86041155 C456.582045,8.47865086 455.532025,8.28777338 454.326242,8.28777338 C452.196026,8.28777338 450.407475,8.97593693 448.960535,10.3522847 C447.513596,11.7286324 446.790137,13.4867145 446.790137,15.6265836 C446.790137,17.7664527 447.508572,19.5546733 448.945463,20.9912991 C450.382354,22.4279248 452.085497,23.1462269 454.054942,23.1462269 L454.054942,23.1462269 Z M475.909645,8.04666257 C473.819622,8.04666257 472.056191,8.79008013 470.6193,10.2769375 C469.182409,11.763795 468.463974,13.5670848 468.463974,15.6868613 C468.463974,17.8066377 469.182409,19.6099276 470.6193,21.096785 C472.056191,22.5836425 473.819622,23.32706 475.909645,23.32706 C477.999669,23.32706 479.7631,22.5836425 481.199991,21.096785 C482.636882,19.6099276 483.355317,17.8066377 483.355317,15.6868613 C483.355317,13.5670848 482.636882,11.763795 481.199991,10.2769375 C479.7631,8.79008013 477.999669,8.04666257 475.909645,8.04666257 L475.909645,8.04666257 Z M475.909645,26.5820559 C472.77461,26.5820559 470.142024,25.542276 468.011808,23.4626849 C465.881592,21.3830937 464.816499,18.7911785 464.816499,15.6868613 C464.816499,12.5825441 465.881592,9.99062886 468.011808,7.91103774 C470.142024,5.83144663 472.77461,4.79166667 475.909645,4.79166667 C479.044681,4.79166667 481.677267,5.83144663 483.807483,7.91103774 C485.937699,9.99062886 487.002791,12.5825441 487.002791,15.6868613 C487.002791,18.7911785 485.937699,21.3830937 483.807483,23.4626849 C481.677267,25.542276 479.044681,26.5820559 475.909645,26.5820559 L475.909645,26.5820559 Z M495.051351,26.371084 L491.49431,26.371084 L491.49431,5.30402713 L497.040883,5.30402713 L503.401355,18.5349827 L509.761827,5.30402713 L515.278256,5.30402713 L515.278256,26.371084 L511.721215,26.371084 L511.721215,9.91527133 L504.365976,24.5326141 L502.376445,24.5326141 L495.051351,9.91527133 L495.051351,26.371084 Z M521.126273,5.30402713 L524.683314,5.30402713 L524.683314,26.371084 L521.126273,26.371084 L521.126273,5.30402713 Z M546.327007,5.30402713 L549.884048,5.30402713 L549.884048,26.371084 L546.025563,26.371084 L534.088373,11.00027 L534.088373,26.371084 L530.531332,26.371084 L530.531332,5.30402713 L534.088373,5.30402713 L546.327007,21.0365073 L546.327007,5.30402713 Z M570.321964,16.1238746 L573.879005,16.1238746 L573.879005,23.32706 C571.889464,25.5171608 569.045869,26.6121948 565.348135,26.6121948 C562.233196,26.6121948 559.62573,25.5874841 557.525658,23.538032 C555.425587,21.4885799 554.375567,18.8966646 554.375567,15.7622084 C554.375567,12.6277522 555.445683,10.0157446 557.585947,7.92610717 C559.726212,5.83646972 562.313582,4.79166667 565.348135,4.79166667 C568.382688,4.79166667 570.904746,5.67573079 572.914384,7.44388555 L571.015286,10.1563821 C570.191334,9.45313877 569.362371,8.96589888 568.528371,8.69464787 C567.694371,8.42339685 566.724736,8.28777338 565.619435,8.28777338 C563.489218,8.28777338 561.700668,8.97593693 560.253728,10.3522847 C558.806789,11.7286324 558.08333,13.5369454 558.08333,15.7772778 C558.08333,18.0176103 558.786693,19.8158771 560.193439,21.1721322 C561.600186,22.5283873 563.303329,23.2065046 565.302918,23.2065046 C567.302508,23.2065046 568.975507,22.7745187 570.321964,21.910534 L570.321964,16.1238746 Z M590.639302,8.70971729 C589.976121,9.13166332 589.644536,9.76959595 589.644536,10.6235343 C589.644536,11.4774727 589.976121,12.1304746 590.639302,12.5825596 C591.302483,13.0346447 592.714232,13.5218846 594.874593,14.0442939 C597.034954,14.5667033 598.662736,15.3000747 599.757989,16.24443 C600.853241,17.1887854 601.400859,18.5801818 601.400859,20.4186609 C601.400859,22.25714 600.707545,23.7489982 599.320894,24.8942803 C597.934244,26.0395623 596.115549,26.6121948 593.864755,26.6121948 C590.568949,26.6121948 587.644969,25.4769761 585.092729,23.2065046 L587.323416,20.5241469 C589.453632,22.3726723 591.664201,23.2969212 593.955188,23.2969212 C595.100682,23.2969212 596.010029,23.0507897 596.683258,22.5585193 C597.356487,22.066249 597.693096,21.4132471 597.693096,20.599494 C597.693096,19.785741 597.376583,19.1528314 596.743547,18.7007464 C596.110511,18.2486614 595.020299,17.8367679 593.472877,17.4650535 C591.925456,17.0933392 590.749836,16.7517689 589.94598,16.4403326 C589.142125,16.1288962 588.428714,15.7220258 587.805727,15.2197091 C586.559751,14.2753537 585.936773,12.8287033 585.936773,10.8797146 C585.936773,8.93072579 586.645159,7.4288214 588.061954,6.37395634 C589.478749,5.31909128 591.232132,4.79166667 593.322155,4.79166667 C594.668613,4.79166667 596.005002,5.0126827 597.331363,5.45472139 C598.657724,5.89676008 599.8032,6.51962344 600.767827,7.32333015 L598.868728,10.0056879 C598.24574,9.44309319 597.401705,8.98096876 596.336597,8.61930074 C595.271489,8.25763272 594.221469,8.07680142 593.186505,8.07680142 C592.151542,8.07680142 591.302483,8.28777127 590.639302,8.70971729 L590.639302,8.70971729 Z M615.538592,8.04666257 C613.448568,8.04666257 611.685137,8.79008013 610.248246,10.2769375 C608.811355,11.763795 608.09292,13.5670848 608.09292,15.6868613 C608.09292,17.8066377 608.811355,19.6099276 610.248246,21.096785 C611.685137,22.5836425 613.448568,23.32706 615.538592,23.32706 C617.628615,23.32706 619.392046,22.5836425 620.828937,21.096785 C622.265828,19.6099276 622.984263,17.8066377 622.984263,15.6868613 C622.984263,13.5670848 622.265828,11.763795 620.828937,10.2769375 C619.392046,8.79008013 617.628615,8.04666257 615.538592,8.04666257 L615.538592,8.04666257 Z M615.538592,26.5820559 C612.403556,26.5820559 609.77097,25.542276 607.640754,23.4626849 C605.510538,21.3830937 604.445446,18.7911785 604.445446,15.6868613 C604.445446,12.5825441 605.510538,9.99062886 607.640754,7.91103774 C609.77097,5.83144663 612.403556,4.79166667 615.538592,4.79166667 C618.673627,4.79166667 621.306213,5.83144663 623.436429,7.91103774 C625.566645,9.99062886 626.631738,12.5825441 626.631738,15.6868613 C626.631738,18.7911785 625.566645,21.3830937 623.436429,23.4626849 C621.306213,25.542276 618.673627,26.5820559 615.538592,26.5820559 L615.538592,26.5820559 Z M640.859903,8.04666257 C638.76988,8.04666257 637.006449,8.79008013 635.569558,10.2769375 C634.132667,11.763795 633.414232,13.5670848 633.414232,15.6868613 C633.414232,17.8066377 634.132667,19.6099276 635.569558,21.096785 C637.006449,22.5836425 638.76988,23.32706 640.859903,23.32706 C642.949927,23.32706 644.713357,22.5836425 646.150249,21.096785 C647.58714,19.6099276 648.305574,17.8066377 648.305574,15.6868613 C648.305574,13.5670848 647.58714,11.763795 646.150249,10.2769375 C644.713357,8.79008013 642.949927,8.04666257 640.859903,8.04666257 L640.859903,8.04666257 Z M640.859903,26.5820559 C637.724868,26.5820559 635.092282,25.542276 632.962065,23.4626849 C630.831849,21.3830937 629.766757,18.7911785 629.766757,15.6868613 C629.766757,12.5825441 630.831849,9.99062886 632.962065,7.91103774 C635.092282,5.83144663 637.724868,4.79166667 640.859903,4.79166667 C643.994938,4.79166667 646.627525,5.83144663 648.757741,7.91103774 C650.887957,9.99062886 651.953049,12.5825441 651.953049,15.6868613 C651.953049,18.7911785 650.887957,21.3830937 648.757741,23.4626849 C646.627525,25.542276 643.994938,26.5820559 640.859903,26.5820559 L640.859903,26.5820559 Z M672.240243,5.30402713 L675.797284,5.30402713 L675.797284,26.371084 L671.938798,26.371084 L660.001609,11.00027 L660.001609,26.371084 L656.444567,26.371084 L656.444567,5.30402713 L660.001609,5.30402713 L672.240243,21.0365073 L672.240243,5.30402713 Z" id="COMING-SOON" fill="#FFFFFF"></path>
    </g>
  </svg>
</section>

<footer>
   <div class="wrapper">
   <div id="footer">
   <div id="Contact">
   <h3><center><a href="mailto:connect@staige.net">Contact Us</a></h3></center></div>
   <font color="white">
   <b><h5> &copy; Staige 2016 </b> All rights reserved.
   </font></h5>
   </div>
   </center>
  </div>
</footer>

</body>

</html>
