<html>
<head><link rel="stylesheet" href="/css/layout.css">
</head>
<body>

  <body bgcolor="black">
  <header>

  <div id="navbar">
    <ul class="navbar">
        <li><a href="#">PROFILE</a></li>
        <li><a href="#">WIRE</a></li>
       <li ><a href="#">REHEARSAL ROOMS</a></li>
       <li ><a href="#">STUDIOS</a></li>
       <li style="float:left"><div id="logo">
           <a href="/"><svg width="112px" height="32px" viewBox="55 40 112 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

              <g id="Group-18" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" transform="translate(55.000000, 40.000000)">
               <g id="Group-2" transform="translate(32.346058, 4.347289)" fill="#FFFFFF">
                   <g id="Group-3">
                       <path d="M5.53413547,3.77265745 C4.90763051,4.1685863 4.59438273,4.76718403 4.59438273,5.56846859 C4.59438273,6.36975316 4.90763051,6.982491 5.53413547,7.40670047 C6.16064044,7.83090995 7.49431661,8.28810664 9.53520399,8.77830426 C11.5760914,9.26850188 13.1138532,9.9566536 14.1485357,10.8427801 C15.1832181,11.7289065 15.7005516,13.0345094 15.7005516,14.759628 C15.7005516,16.4847465 15.0455789,17.8846168 13.735614,18.9592808 C12.4256491,20.0339448 10.7075324,20.5712688 8.58121257,20.5712688 C5.46767274,20.5712688 2.70539683,19.5060476 0.294301966,17.3755734 L2.40162631,14.8586097 C4.4140362,16.5931551 6.50235476,17.4604148 8.66664464,17.4604148 C9.74878958,17.4604148 10.6078479,17.2294598 11.2438454,16.7675428 C11.8798428,16.3056258 12.1978368,15.692888 12.1978368,14.9293109 C12.1978368,14.1657339 11.8988275,13.5718495 11.3008001,13.14764 C10.7027726,12.7234306 9.67285186,12.3369344 8.21100694,11.9881399 C6.74916202,11.6393455 5.63855624,11.3188364 4.87915629,11.0266033 C4.11975633,10.7343701 3.44579898,10.3525873 2.85726401,9.88124339 C1.68019407,8.99511692 1.09166793,7.63766696 1.09166793,5.80885276 C1.09166793,3.98003857 1.76087911,2.57074156 3.09932153,1.58091944 C4.43776396,0.591097325 6.09418027,0.0961936913 8.06862016,0.0961936913 C9.34061509,0.0961936913 10.6030986,0.303581881 11.8561085,0.718364481 C13.1091184,1.13314708 14.1912471,1.71760471 15.1025271,2.47175489 L13.3084537,4.98871854 C12.7199187,4.46081341 11.9225607,4.02718356 10.9163558,3.68781598 C9.91015082,3.3484484 8.9181995,3.17876715 7.94047206,3.17876715 C6.96274461,3.17876715 6.16064044,3.3767286 5.53413547,3.77265745 Z M21.3533068,7.84504808 L21.3533068,15.4807805 C21.3533068,16.1972232 21.5431539,16.7675407 21.9228539,17.1917502 C22.3025539,17.6159596 22.8341259,17.8280612 23.5175859,17.8280612 C24.2010458,17.8280612 27.8886988,17.8280605 27.8886988,17.8280605 L31.931835,20.5712685 C31.931835,20.5712685 24.4336143,20.5712688 23.0761868,20.5712688 C21.7187594,20.5712688 20.5606918,20.1046454 19.6019494,19.1713845 C18.643207,18.2381237 18.1638429,16.9796544 18.1638429,15.395939 L18.1638429,7.84504808 L16.2558601,7.84504808 L16.2558601,5.29980393 L18.1638429,5.29980393 L18.1638429,0.576962029 L21.3533068,0.576962029 L21.3533068,5.29980393 L25.3401366,5.29980393 L25.3401366,7.84504808 L21.3533068,7.84504808 Z M61.5206174,5.39092996 L61.5206174,18.5130775 C61.5206174,21.1714569 60.7944521,23.1652116 59.3420997,24.4944013 C57.8897473,25.823591 56.0244991,26.4881758 53.7462992,26.4881758 C51.4680993,26.4881758 49.4082579,25.7811706 47.566713,24.3671391 L49.0760128,21.9632974 C50.5568427,23.0756689 52.051889,23.6318463 53.5611964,23.6318463 C55.0705038,23.6318463 56.2665408,23.2453501 57.1493433,22.4723462 C58.0321457,21.6993423 58.4735403,20.4644399 58.4735403,18.7676019 L58.4735403,16.8445286 C57.9989153,17.7306551 57.3202118,18.4376603 56.4374094,18.9655654 C55.5546069,19.4934705 54.5626556,19.7574191 53.4615257,19.7574191 C51.4491158,19.7574191 49.7974456,19.0598407 48.5064657,17.6646628 C47.2154858,16.269485 46.5700055,14.5349656 46.5700055,12.4610526 C46.5700055,10.3871396 47.2154858,8.65262017 48.5064657,7.25744233 C49.7974456,5.86226449 51.4443696,5.16468604 53.447287,5.16468604 C55.4502044,5.16468604 57.0781436,5.98481206 58.3311535,7.62508871 L58.3311535,5.39092996 L61.5206174,5.39092996 Z M50.8874891,15.3409492 C51.6563815,16.2365025 52.6910485,16.6842725 53.9915209,16.6842725 C55.2919933,16.6842725 56.345645,16.2506426 57.1525074,15.3833699 C57.9593699,14.5160972 58.362795,13.436736 58.362795,12.1452538 C58.362795,10.8537716 57.9546237,9.76027021 57.1382687,8.86471687 C56.3219138,7.96916353 55.2682621,7.52139357 53.9772822,7.52139357 C52.6863023,7.52139357 51.6563815,7.98330363 50.8874891,8.90713761 C50.1185966,9.83097158 49.7341562,10.9103328 49.7341562,12.1452538 C49.7341562,13.3801747 50.1185966,14.4453958 50.8874891,15.3409492 L50.8874891,15.3409492 Z M78.1419009,14.2992845 L66.2668434,14.2992845 C66.3427834,15.3928022 66.8458783,16.274202 67.7761433,16.9435103 C68.7064082,17.6128186 69.7695522,17.9474677 70.9656072,17.9474677 C72.864107,17.9474677 74.3069453,17.3535834 75.2941653,16.1657968 L77.1167161,18.1454312 C75.4840061,19.8234153 73.3577182,20.6623948 70.7377883,20.6623948 C68.6114684,20.6623948 66.8031744,19.960103 65.312852,18.5554983 C63.8225296,17.1508936 63.0773795,15.2655464 63.0773795,12.8994002 C63.0773795,10.533254 63.8367681,8.65262017 65.355568,7.25744233 C66.8743679,5.86226449 68.6636772,5.16468604 70.7235496,5.16468604 C72.783422,5.16468604 74.5347619,5.78213724 75.9776218,7.01705816 C77.4204817,8.25197909 78.1419009,9.95350491 78.1419009,12.1216867 L78.1419009,14.2992845 Z M66.2415302,11.8451663 L74.9271238,11.8451663 C74.9271238,10.5819648 74.5284448,9.61101098 73.7310748,8.93227582 C72.9337049,8.25354066 71.9512459,7.91417816 70.7836685,7.91417816 C69.6160911,7.91417816 68.5671856,8.26768076 67.6369206,8.97469656 C66.7066557,9.68171235 66.2415302,10.638526 66.2415302,11.8451663 L66.2415302,11.8451663 Z" id="Staige"></path>
                   </g>
               </g>
               <polygon id="Combined-Shape" fill="#FFFFFF" points="77.2913412 24.5630759 74.1018773 24.5630759 74.1018773 9.51785502 77.2913412 9.51785502"></polygon>
               <rect id="Rectangle" fill="#FFFFFF" x="74.1018773" y="5.2872428" width="3.18755699" height="3.18409515" rx="1"></rect>
               <path d="M72.2238485,24.6710076 L69.3191581,24.6710076 L69.3191581,22.6630928 C68.0661482,24.1525394 66.386001,24.8972515 64.2786661,24.8972515 C62.7029112,24.8972515 61.3977121,24.4541949 60.3630297,23.5680685 C59.3283472,22.681942 58.8110138,21.4988867 58.8110138,20.0188669 C58.8110138,18.5388472 59.3615705,17.4312057 60.4627004,16.6959093 C61.5638304,15.9606129 63.0541304,15.5929702 64.9336453,15.5929702 L69.0628619,15.5929702 L69.0628619,15.0273604 C69.0628619,13.0288624 67.9427638,12.0296284 65.7025339,12.0296284 C64.297644,12.0296284 62.835821,12.5386721 61.3170211,13.5567748 L59.8931533,11.5771405 C61.7346982,10.1254014 63.8230168,9.39954275 66.1581716,9.39954275 C67.9427615,9.39954275 69.3998383,9.84731271 70.5294458,10.742866 C71.6590532,11.6384194 72.2238485,13.0477164 72.2238485,14.9707994 L72.2238485,24.6710076 Z M69.0343846,19.0714705 L69.0343846,17.7988484 L65.4462377,17.7988484 C63.1490528,17.7988484 62.0004776,18.5152803 62.0004776,19.9481657 C62.0004776,20.6834621 62.2852484,21.2443529 62.8547983,21.6308549 C63.4243483,22.0173568 64.2169601,22.2106049 65.2326575,22.2106049 C66.248355,22.2106049 67.1358904,21.9278029 67.8952903,21.3621902 C68.6546903,20.7965776 69.0343846,20.033012 69.0343846,19.0714705 Z" id="Combined-Shape" fill="#FFFFFF"></path>
               <g id="Group">
                   <path d="M13.9859651,0.193765813 L25.0050061,6.56504483 C25.7495991,6.9955732 26.353211,8.04392909 26.353211,8.91076851 L26.353211,21.0159951 C26.353211,21.8809742 25.7484583,22.9318501 25.0050061,23.3617188 L14.5248104,29.4214341 C13.7802174,29.8519625 12.5718528,29.8513028 11.8284006,29.4214341 L1.34820488,23.3617188 C0.603611885,22.9311904 6.62605453e-15,21.8828345 6.62605453e-15,21.0159951 L0,8.91076851 C0,8.04578946 0.604752738,6.99491355 1.34820488,6.56504483 L12.3672459,0.193765813 C12.8142429,-0.0646906537 13.5393212,-0.0644865347 13.9859651,0.193765813 Z" id="Polygon-Copy-3" fill="#11E1B3"></path>
                   <path d="M9.26289454,6.56835566 C9.53075802,6.28049713 10.0579005,6.11847829 10.4396262,6.20632138 L19.857087,8.37347633 C20.493456,8.51991814 21.16379,9.14702221 21.3552378,9.77717313 L24.0287653,18.5770957 C24.2198023,19.2058942 24.0122695,20.1050867 23.5667548,20.5838574 L17.2864845,27.3329273 C16.8402863,27.8124326 15.9617171,28.0822096 15.3263232,27.9359922 L6.36938834,25.8748139 C5.73301941,25.7283721 5.06268532,25.101268 4.87123752,24.4711171 L2.19771002,15.6711945 C2.00667309,15.042396 2.2142059,14.1432035 2.65972052,13.6644328 L9.26289454,6.56835566 L9.26289454,6.56835566 Z" id="Polygon-Copy" fill="#0ACEA3"></path>
                   <path d="M8.98171439,13.1841346 L15.5186069,11.6510198 C15.8988295,11.5618452 16.4235241,11.7231488 16.6898368,12.0105372 L21.2461391,16.9274203 C21.5127688,17.2151509 21.6351479,17.7547556 21.5208298,18.1282521 L19.545054,24.5834453 C19.4301317,24.9589159 19.0267384,25.336054 18.6485149,25.4247598 L12.1116223,26.9578745 C11.7313997,27.0470491 11.2067052,26.8857455 10.9403925,26.5983571 L6.3840902,21.681474 C6.11746041,21.3937434 5.99508138,20.8541387 6.10939946,20.4806422 L8.08517527,14.025449 C8.20009755,13.6499785 8.60349082,13.2728403 8.98171439,13.1841346 Z" id="Polygon-Copy-2" fill="#09B58E"></path>
               </g>
              </g>
           </svg></a>
       </div></li>
       </ul>

   </div>

<!---// layout template ejs //--->
<%- defineContent('hero') %>
<footer>
 <div id="bottom">
 <ul class="bottom">
  <li ><a href="/index">HOME</a></li>
  <li ><a href="/contact">CONTACT</a></li>
  <li><a class="active" href="/about">ABOUT</a></li>
 </ul>
 </div>
</footer>

</body>

</html>
